.about-me-page {
  background-color: #f0f0d7;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.about-me-page .div-2 {
  background-color: #f0f0d7;
  overflow: hidden;
  width: 1440px;
  height: 1297px;
  position: relative;
}

.about-me-page .overlap-group {
  position: absolute;
  width: 1422px;
  height: 880px;
  top: 365px;
  left: 60px;
}

.about-me-page .speech-bubble {
  position: absolute;
  width: 1020px;
  height: 687px;
  top: 0;
  left: 281px;
}

.about-me-page .variant-sitting {
  position: absolute;
  width: 318px;
  height: 450px;
  top: 430px;
  left: 0;
}

.about-me-page .overlap-group-2 {
  position: relative;
  height: 450px;
}

.about-me-page .pose-sitting-pose {
  position: absolute;
  width: 318px;
  height: 367px;
  top: 84px;
  left: 0;
}

.about-me-page .head {
  position: absolute;
  width: 148px;
  height: 162px;
  top: 0;
  left: 66px;
  background-image: url(./img/head-head-long.png);
  background-size: 100% 100%;
}

.about-me-page .FACE {
  position: absolute;
  width: 46px;
  height: 46px;
  top: 50px;
  left: 73px;
}

.about-me-page .section {
  position: absolute;
  width: 645px;
  height: 350px;
  top: 94px;
  left: 536px;
}

.about-me-page .identify-the-pain {
  position: absolute;
  width: 643px;
  top: 0;
  left: 0;
  font-family: "Playfair Display", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.about-me-page .overlap-wrapper {
  width: 408px;
  height: 290px;
  left: 1014px;
  position: absolute;
  top: 584px;
}

.about-me-page .overlap-2 {
  position: relative;
  width: 244px;
  height: 78px;
  top: 175px;
  left: 61px;
  background-color: #80b09fa3;
  border-radius: 20px;
}

.about-me-page .text-wrapper-3 {
  position: absolute;
  width: 224px;
  top: 14px;
  left: 10px;
  font-family: "Playfair Display", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.about-me-page .overlap-group-wrapper {
  width: 348px;
  height: 280px;
  left: 719px;
  position: absolute;
  top: 584px;
}

.about-me-page .about-me-learning-wrapper {
  position: absolute;
  width: 1382px;
  height: 218px;
  top: 86px;
  left: 32px;
  background-image: url(./img/rectangle-1.png);
  background-size: 100% 100%;
}

.about-me-page .about-me-learning {
  position: absolute;
  width: 1320px;
  top: 16px;
  left: 28px;
  font-family: "Playfair Display", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}

.about-me-page .span {
  font-weight: 700;
}

.about-me-page .text-wrapper-4 {
  font-size: 32px;
}

.about-me-page .group {
  position: fixed;
  width: 1452px;
  height: 60px;
  top: 0;
  left: 0;
}

.about-me-page .navbar-2 {
  position: relative;
  width: 1440px;
  height: 60px;
  background-color: #727d73;
  box-shadow: 0px 4px 4px #00000040;
}

.about-me-page .text-wrapper-5 {
  position: absolute;
  width: 159px;
  height: 21px;
  top: 23px;
  left: 367px;
  font-family: "Playfair Display", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.about-me-page .main-page {
  position: absolute;
  width: 159px;
  height: 21px;
  top: 23px;
  left: 156px;
  font-family: "Playfair Display", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.about-me-page .text-wrapper-6 {
  left: 1027px;
  font-weight: 700;
  position: absolute;
  width: 159px;
  height: 21px;
  top: 23px;
  font-family: "Playfair Display", Helvetica;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.about-me-page .text-wrapper-7 {
  left: 807px;
  font-weight: 800;
  position: absolute;
  width: 159px;
  height: 21px;
  top: 23px;
  font-family: "Playfair Display", Helvetica;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.about-me-page .text-wrapper-8 {
  left: 587px;
  font-weight: 700;
  position: absolute;
  width: 159px;
  height: 21px;
  top: 23px;
  font-family: "Playfair Display", Helvetica;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.about-me-page .text-wrapper-9 {
  position: absolute;
  width: 159px;
  height: 21px;
  top: 23px;
  left: 1226px;
  font-family: "Playfair Display", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
